<%- include('../partials/head') %> 

  <body>
    <header class="page2-header">
      <h1><%= content %></h1> 
      <p>This is the content for Page 2.</p>
    </header>
  
    <nav>
      <a href="/">Back to Home</a>
      <a href="/subpage2">Go to Subpage2</a>
    </nav>
  </body>